<div class="flex align-items-center justify-content-center center-div">
  <p-floatlabel variant="on">
    <p-select
            [options]="filteredFonts"
            [(ngModel)]="baseFont"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="false"
            class="w-full"
            (onFilter)="filterFonts($event)"
    >
      <ng-template let-font #item>
        <div [style.font-family]="font.name">{{ font.name || baseFont.name }}</div>
      </ng-template>
      <ng-template #selectedItem let-selectedOption>
        <div [style.font-family]="selectedOption.name">
          {{ selectedOption.name || baseFont.name }}
        </div>
      </ng-template>
    </p-select>
    <label>Select Font</label>
  </p-floatlabel>
</div>